[global]
# path should end with "/"

# daily xdr saved in subdirectories named as {yyyymmdd} under this directory
XDR_PATH = F:\cndmp\APPStats\com\hh\cndmp\appbehavior\data\

# app regex file
REGEX_FILE = F:\cndmp\APPStats\com\hh\cndmp\appbehavior\resource\app_regexes_v7.csv

# output directory
OUT_PATH = F:\cndmp\APPStats\com\hh\cndmp\appbehavior\result\
