[global]

# directory of input data
XDR_PATH = ./data

# input data prefix
PREFIX = 3rdpartyflow
# input data postfix
POSTFIX = txt

# HOURLY = 0: treat daily; HOURLY = 1: treat hourly;
HOURLY = 0

# delay time(hour)
# if param 'HOURLY' was set as 0, param 'DELAY' should be greater or equal than 24.
# if param 'HOURLY' was set as 1, param 'DELAY' should be greater than 3.
DELAY = 120

# app regex file
REGEX_FILE = F:\cndmp\\APPStats\com\\hh\cndmp\\appbehavior\\resource\\tr_regexes_media_ecommerce_v1.0.csv

# output directory
OUT_PATH = ./result/

# OUTFILE_PREFIX = app
OUTFILE_PREFIX = media

# output file header
DATA_SOURCE = anhuichinatelecom
INTERFACE = provincenet
NETWORK_TYPE = 3g4g

LINE1 = #DATA_SOURCE:anhuichinatelecom,INTERFACE:provincenet,NETWORK_TYPE:3g4g
LINE2 = app_code|behavior_id|system_id|channel_id|time|PV|UV

